name: Smart Network Video Recorder (NVR) Proxy Pipeline
definition: >
  The Smart Network Video Recorder (NVR) Proxy Pipeline builds on top of the
  Simple NVR Proxy Pipeline to add support for video analytics on a subset of input channels.
metadata:
  classname: SmartNVRPipeline
  enabled: true
recording:
  url: "https://storage.openvinotoolkit.org/repositories/openvino_notebooks/data/data/video/people.mp4"
  filename: people.mp4
launch_string: "gst-launch-1.0 -q filesrc location=/tmp/dummy-video.mp4 ! decodebin3  ! gvafpscounter starting-frame=500 ! gvadetect    model=/models/output/public/yolov8_license_plate_detector/FP32/yolov8_license_plate_detector.xml     model-instance-id=detect0    device=CPU    pre-process-backend=opencv    batch-size=0    inference-interval=3        nireq=0 ! queue ! gvatrack   tracking-type=short-term-imageless ! queue ! gvaclassify    model=/models/output/public/ch_PP-OCRv4_rec_infer/FP32/ch_PP-OCRv4_rec_infer.xml     model-instance-id=classify0    device=CPU    pre-process-backend=opencv    batch-size=0    inference-interval=3    nireq=0    reclassify-interval=1 ! queue ! gvawatermark ! gvametaconvert   format=json   json-indent=4   source=/tmp/dummy-video.mp4 ! gvametapublish   method=file   file-path=/dev/null ! vah264enc ! h264parse ! mp4mux ! filesink location=/tmp/dummy-video-output.mp4 "
parameters:
  run:
    recording_channels: true
    video_output_checkbox: false
  benchmark:
    ai_stream_rate: true
    result_format: "Best Config: {s} streams ({ai} AI, {non_ai} non_AI) -> {fps:.2f} FPS"
  inference:
    detection_models:
      - "SSDLite MobileNet V2 (INT8)"
      - "YOLO v5m 416x416 (INT8)"
      - "YOLO v5s 416x416 (INT8)"
      - "YOLO v5m 640x640 (INT8)"
      - "YOLO v10s 640x640 (FP16)"
      - "YOLO v10m 640x640 (FP16)"
    detection_model_default: "YOLO v5s 416x416 (INT8)"
    classification_models:
      - "Disabled"
      - "EfficientNet B0 (INT8)"
      - "MobileNet V2 PyTorch (FP16)"
      - "ResNet-50 TF (INT8)"
    classification_model_default: "ResNet-50 TF (INT8)"
